body {
    margin: 0;
    padding: 0;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  header {
    padding: 20px 35px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  ul li {
    margin-left: 20px;
  }
  
  main {
    height: calc(100vh - 60px - 60px - 40px);
  }
  
  #TITIL {
    margin: auto;
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  footer {
    height: 60px;
    background-color: cadetblue;
  }
  